@page "/Speisekarte"

@inject HttpClient Http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject NavigationManager _navigationManager


<h1>Speisekarte</h1>
<div class="row justify-content-center">
	@foreach (var item in menuitemueberkategories)
	{
		<div class="col-lg-2 col-md-4 col-sm-12 tablecolumn">
			<table class="table table-light overflow-hidden">
				<thead>
					<tr>
						<th scope="col">@item.Bezeichnung</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item2 in menuitemkategories)
					{
						if (item.IdmenuItemUeberkategorie == item2.MenuItemUeberkategorieIdmenuItemUeberkategorie)
						{
							if (@item.Bezeichnung == "Chinesisch")
							{
								<tr>
									<td><a href="/SpeisekarteChinesich">@item2.Bezeichnung</a></td>
								</tr>
								@if (@item2.Bezeichnung == "Nachspeise")
								{
									<tr>
										<td class="lowest"><br></td>
									</tr>
								}
							}
							else if (@item.Bezeichnung == "Japanisch")
							{
								<tr>
									<td><a href="/SpeisekarteJapanisch">@item2.Bezeichnung</a></td>
								</tr>
								@if (@item2.Bezeichnung == "Nachspeise")
								{
									<tr>
										<td class="lowest"><br></td>
									</tr>
								}

							}
							else if (@item.Bezeichnung == "Getränke")
							{
								<tr>
									<td><a href="/SpeisekarteGetraenke">@item2.Bezeichnung</a></td>
								</tr>
								@if (@item2.Bezeichnung == "Bier")
								{
									<tr>
										<td class="lowest"><br></td>
									</tr><tr>
										<td class="lowest"><br></td>
									</tr>
								}
							}
							else if (@item.Bezeichnung == "Sonstiges")
							{
								<tr>
									<td><a href="/SpeisekarteSonstiges">@item2.Bezeichnung</a></td>
								</tr>
							}
							else
							{
							}
						}
					}
					<tr>
						<td class="lowest"><br></td>

					</tr>
					<tr>
						<td class="lowest"><br></td>
					</tr>
				</tbody>
			</table>
		</div>
	}
</div>




@code {
	private List<Kunde> kunden = new List<Kunde>();
	private Kunde kunde = new Kunde();

	private List<Menuitemkategorie> menuitemkategories = new List<Menuitemkategorie>();
	private List<Menuitemueberkategorie> menuitemueberkategories = new List<Menuitemueberkategorie>();

	protected override async Task OnInitializedAsync()
	{
		kunden = await Http.GetFromJsonAsync<List<Kunde>>("https://localhost:7076/api/kunden");

		if (localStorage.ContainKey("kunde"))
			kunde = localStorage.GetItem<Kunde>("kunde");
		else
			_navigationManager.NavigateTo("/");

		if (kunde != null && !kunden.Any(k => k.Code == kunde.Code))
			_navigationManager.NavigateTo("/");

		menuitemkategories = await Http.GetFromJsonAsync<List<Menuitemkategorie>>("https://localhost:7076/api/MenuItemKategories");
		menuitemueberkategories = await Http.GetFromJsonAsync<List<Menuitemueberkategorie>>("https://localhost:7076/api/MenuItemUeberkategories");
	}

	public class Menuitemkategorie
	{
		public int IdmenuItemKategorie { get; set; }
		public string Bezeichnung { get; set; }
		public int MenuItemUeberkategorieIdmenuItemUeberkategorie { get; set; }
		public object MenuItemUeberkategorieIdmenuItemUeberkategorieNavigation { get; set; }
		public List<object> MenuItemIdmenuItems { get; set; }
	}

	public class Menuitemueberkategorie
	{
		public int IdmenuItemUeberkategorie { get; set; }
		public string Bezeichnung { get; set; }
		public List<object> MenuItemKategorieIdmenuItemKategories { get; set; }
		public List<object> MenuItemIdmenuItems { get; set; }
	}


	public class Kunde
	{
		public int Idkunde { get; set; }
		public string Code { get; set; }
		public int Treuepunkte { get; set; }
	}
}

